<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Purchase order listing</title>
        <style type="text/css">
            .axis path,
            .axis line {
                fill: black;
                stroke: black;
                shape-rendering: crispEdges;
            }

            .axis text{
                font-family: sans-serif;
                font-size: 11px;
            }
        </style>
    </head>
    <body>

        <script type="text/javascript" src="/js/d3/d3.js" >
        </script>
        <script>

/*            function draw (data){
                d3.select("body")
                        .selectAll("li")
                        .data(data)
                        .enter()
                        .append("li")
                        .text(function (d){
                            return d.po + " " + d.qty;
                        });
            }*/

            d3.json("podata", draw);

            function draw (data){

                console.log(data.length);

                var w = 1000, h = 500, r = 8;

                var xScale = d3.scale.linear()
                            .domain([d3.min(data, function(d){return noOfDays(d.date);}),
                                     d3.max(data, function(d){return noOfDays(d.date);})])
                            .range([0.05 * w, w * 0.95]);

                var svg = d3.select("body")
                            .append("svg")
                            .attr({
                                    width: w,
                                    height: h
                            });

                 svg.selectAll("circle")
                         .data(data)
                         .enter()
                         .append("circle")
                         .attr("cx", function(d){
                                return xScale(noOfDays(d.date));
                         })
                         .attr("cy", h/2)
                         .attr("r", r)
                         .attr("fill", "yellow")
                         .attr("stroke", "orange")
                         .attr("stroke-width", r/4);

                var xAxis = d3.svg.axis()
                                  .scale(xScale)
                                  .orient("bottom")
                                  .ticks(data.length);

                svg.append("g")
                   .attr("class", "axis")
                   .attr("transform", "translate (0, " + (h * 0.95) + ")" )
                   .call(xAxis);
            }

            function noOfMonths(dt){
                return (Date.parse(dt)/1000)/2592000;
            }

            function noOfDays(dt){
                return (Date.parse(dt)/1000)/86400;
            }

        </script>
    </body>
</html>